.row {
  display: grid;
  grid-template-columns: max-content repeat(9, 1fr);
  gap: 1px;
  background-color: gainsboro;
  align-items: center;
}

.col {
  padding: 8px;
  border: none;
  border-bottom: 1px solid gainsboro;
  background-color: #fff;
}
